# Dependencias
node_modules/
package-lock.json

# Variables de entorno (si decides mover la API Key aquí en el futuro)
.env
.env.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

